{# default twig values #}
{% if bg_animated is not defined %}{% set bg_animated = false %}{% endif %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {# meta.title #}
    <title>
    {%- block meta_title -%}
      {%- if meta.title is defined and meta.title is not empty -%}
        {{ meta.title }} - Dashboard - Kargain World
      {% else %}
        Dashboard - Kargain World
      {%- endif -%}
    {%- endblock -%}
    </title>

    {# meta.desc #}
    {%- block meta_desc -%}
      {% if meta.desc is defined and meta.desc is not empty %}
        <meta name="description" content="{{ meta.desc }}" />
      {% endif %}
    {%- endblock -%}

    {# meta.robots #}
    {% if meta.robots is defined and meta.robots is not empty %}
      <meta name="robots" content="{{ meta.robots }}" />
    {% else %}
      <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    {# Base stylesheets #}
    <link rel="stylesheet" href="{{ asset('build/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('build/google-fonts.css') }}">
    {# Custom stylesheets from twig templates #}
    {% block stylesheets %}{% endblock %}
  </head>

  <body class="app-core app-core--dashboard{% if core_class is defined %} {{ core_class }}{% endif %}">
    {# Header #}
    {% block header %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="{{ path('dashboard') }}">Dashboard</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="navbar-nav ml-auto">
          <a class="btn btn-sm btn-warning" href="{{ path('dashboard_reset_cache') }}">
            Ré-initialiser le cache
          </a>
        </div>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if app.request.attributes.get('_route') == 'dashboard_newsletter' %} active{% endif %}">
              <a class="nav-link" href="{{ path('dashboard_newsletter') }}">Clients</a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
    {% endblock %}

    <div class="app-body{% if body_class is defined %} {{ body_class }}{% endif %}">
      {# Notices/Errors messages from "flashbag" #}
      {% block flashes %}
      <div class="container">
        {% include 'components/flashes.html.twig' %}
      </div>
      {% endblock %}

      {# Body #}
      {% block body %}{% endblock %}
    </div>

    {# Footer #}
    {% block footer %}{% endblock %}

    {# Custom javascripts from twig templates #}
    {% block javascripts_defines %}{% endblock %}

    {# Base javascripts #}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendors.js') }}"></script>
    <script src="{{ asset('build/dashboard.js') }}"></script>
    {# Custom javascripts from twig templates #}
    {% block javascripts %}{% endblock %}
  </body>
</html>
